header {
  position: fixed;
  height: 50px;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  z-index: 1000;
}

header ul {
  justify-content: flex-start;
  list-style-type: none;
  align-items: center;
}
