.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 75%;
  background: #F1C3FF;
  /*background: #FFFFFF;*/
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 4%;
  z-index: 50;
}
.main .logo-container {
  /*display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;*/

  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*font-size: 10.0em;
  letter-spacing: 30px;*/
  /*color: #FFFFFF;*/
  width: 75%;
  /*height: 75%;
  text-align: center;
  margin: 0 auto;*/
  z-index: 10;
  font-size: 7.0em;
}
.photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
  z-index: 1;
}


.arrow-div {
  z-index: 10;
}


div {
  display: inline-block;
  vertical-align: middle;
}

a .arrow {
  display: inline-block;
  border-radius: 50%;
}

a:hover .left, a:hover .top, a:hover .bottom, a:hover .right{
  border: 0.5em solid #e74c3c;
}

a:hover .left:after, a:hover .top:after, a:hover .bottom:after, a:hover .right:after {
  border-top: 0.5em solid #e74c3c;
  border-right: 0.5em solid #e74c3c;
}

.left {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-right: 1.5em;
}

.left:after {
  content: '';
	display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.top {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-right: 0.75em;
}

.top:after {
  content: '';
	display: inline-block;
  margin-top: 1.4em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.bottom {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-left: 0.75em;
}

.bottom:after {
  content: '';
	display: inline-block;
  margin-top: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.right {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-left: 1.5em;
}

.right:after {
  content: '';
	display: inline-block;
  margin-top: 1.05em;
  margin-left: -0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
