.social-media-container {
  position: absolute;
  top: 84%;
  width: 40%;
  height: 10%;
  left: 30%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  z-index: 21;
  /*background-color: #FFFFFF;*/
}

h2 {
  /*margin-top: 10px;*/
  padding: 5px;
  border: 1px solid;
  width: 20%;
  text-align: center;
  margin: auto;
}

.icon {
  margin: 1%;
}
/*.icon .instagram {
  border-color: #00AAEC;
}
.icon .spotify {
  border-color: #00DA5A;
}
.icon .twitter {
  border-color: #FEB0DF;
}*/
